@model IEnumerable<opticron_clone.Models.FeatureModel>

@{
    ViewData["Title"] = "Index";
}

@* TODO::
        - Ensure that data is seeded on initial load
        - pass viewdata 
 *@

<div class="full items-justify">
    <div id="banner" class="bg-banner grid-y" style="height: 512px; width: 100%"></div>

        @* Featured Section - Needs modularizing *@
        <section class="pg-width cell grid-x grid-margin-x grid-container fluid">
            @* Auto populate cards *@
            @foreach (var item in Model) 
            {
                @if (item.Description != "" && item.FBtnText != "")
                {
                    @* Card Container. Responsive design with Foundation CSS classes *@
                    <div class="card cell small-12 medium-6 large-3" 
                        style="border: none; padding: 5px; width: 300px; margin: auto">
                        @* Title of card within Feature Section *@
                        <h2 style="color: grey">@Html.DisplayFor(modelItem => item.Title)</h2>
                        @* Image with dynamic source path *@
                        <img src='@Html.DisplayFor(modelItem => item.ImageSrc)' style="height: 230px;" />
                        @* Description of card section *@
                        <p style="padding: 5px;">@Html.DisplayFor(modelItem => item.Description)</p>
                        @* Button text data *@
                        <button type="button" class="button green">@Html.DisplayFor(modelItem => item.FBtnText)</button>
                    </div>
                }
            }
        </section>

        @* Offers section *@
        <section class="pg-width grid-y cell bg-beige grid-container fluid">
            @* Title and container *@
            <h2 class="text-center" style="color: grey; margin-bottom: 20px">@ViewData["OSectionTitle"]</h2>
            <div class="grid-x grid-margin-x" style="margin-x: 34px">
                
                @* Auto populate grid *@
                @foreach (var item in Model) 
                {
                    if (item.Description != "" && item.FBtnText == "")
                    {
                        @* Card container *@
                        <div class="card cell small-12 medium-4">
                            @* Image *@
                            <img src='@Html.DisplayFor(modelItem => item.ImageSrc)'>
                            @* Text content *@
                            <div class="card-section text-center">
                                <p>@Html.DisplayFor(modelItem => item.Title)</p>
                                <p><strong>@Html.DisplayFor(modelItem => item.Description)</strong></p>
                            </div>
                        </div>
                    }
                }

            </div>

            <button type="button" class="button green center" >@ViewData["OfferButton"]</button>
        </section>

        @* Catagory section *@
        <section class="pg-width cell grid-container fluid" >
            @* Title and grid container *@
            <h2 class="text-center" style="color: grey; margin: auto;">@ViewData["CatagoryTitle"]</h2>
            
            @* Horizontal grid for the cards at large screen *@
            <div id="carousel-slick" class="grid-x grid-margin-x">

                @foreach (var item in Model) 
                {
                    if (item.Description == "" && item.FBtnText == "")
                    {
                        @* Card Container *@
                        <div class="card cell small-12 medium-6 large-3 text-center" style="height: 320px; border: none;">
                            @* Content for cards *@
                            <img class="center" style="width: 250px; height: 250px" src='@Html.DisplayFor(modelItem => item.ImageSrc)'>
                            <p style="color: grey">@Html.DisplayFor(modelItem => item.Title)</p>
                        </div>
                    }
                }
            </div>
        </section>

</div>
